body {
	margin: 0 auto;
	text-align: center;
	width: 80vw;
	height: 500px;
}

.main {
	display: flex;
	justify-content: space-around;
}

.player {
	display: flex;
	flex-wrap: wrap;
	width: 30vw;
	height: 30vw;
	border-top: 1px solid;
	border-right: 1px solid;
}

.player > div {
	display: flex;
	height: 10%;
	width: 10%;
	box-sizing: border-box;
	border-left: 1px solid;
	border-bottom: 1px solid;
}

.computer {
	display: flex;
	flex-wrap: wrap;
	width: 30vw;
	height: 30vw;
	border-top: 1px solid;
	border-right: 1px solid;
}

.computer > div {
	display: flex;
	height: 10%;
	width: 10%;
	box-sizing: border-box;
	border-left: 1px solid;
	border-bottom: 1px solid;
}

.player_choose-place {
	background-color: rgba(0, 0, 0, 0.2);
}

.player_navy {
	background-color: black;
}

.crashed_ship {
	background-color: orange;
}

.destroyed {
	background-color: red;
}

.miss {
	background-color: blue;
}